@import 'variables.scss';
@import 'mixins.scss';
@import 'compass/utilities/general/clearfix';
@import 'compass/css3/images';
@import 'compass/css3/border-radius';
@import 'compass/css3/box-shadow';

.bl-section-contact {
	background-color: #151515;
	color: #000;
	.bl-form {
		margin: 0 auto;
		max-width: 1200px;
		background-color: $bg-light;
		@include border-radius(10px 10px, 10px 10px);
		.bl-form-contact {
			padding: $mobile-global-padding;
		}
		.bl-form-newsletter {
			padding: $mobile-global-padding;
		}
		h6 {
			color: $orange;
			font-size: 1.563em;
			font-family: 'sanchez_black_italic';
			text-align: left;
		}
		.bl-form-social{
			a {
				display: inline-block;
				&:hover {
					opacity: 0.8;
				}
			}
			.bl-twitter {
				color: #55acee;
			}
			.bl-instagram {
				color: #3f729b;
			}
			.bl-facebook {
				color: #3b5998;
			}
			.bl-foursquare {
				color: #0072b1;
			}
		}
	}
}

form {
	label {
		color: $orange;
		margin-top: 0;
		margin-bottom: $mobile-global-padding;
		font-size: 1.563em;
		font-family: 'sanchez_black_italic';
	}
	input.form-control, textarea.form-control {
		background-color:  darken($bg-light, 3%);
		// border: none;
		@include box-shadow(darken($bg-light, 5%) 0 2px 1px inset);
		margin-bottom:  $tablet-global-padding;
		&:focus {
			background-color: lighten($bg-light, 5%);
			border-color: #FFF;
			@include box-shadow(lighten($orange, 12%) 0 0 10px);
		}
	}
	.form-group {
		.form-control + .alert {
			margin-top:  -$mobile-global-padding;
		}
	}
}

// Media queries

@media (min-width: 768px) {
	.bl-section-contact {
		.bl-form {
			.bl-form-contact {
				padding: $tablet-global-padding;
			}
			.bl-form-newsletter {
				padding: $tablet-global-padding;
			}
		}
	}
}

@media (min-width: 1024px) {
	.bl-section-contact {
		.bl-form {
			.bl-form-contact {
				padding: $desktop-global-padding;
			}
			.bl-form-newsletter {
				padding: $desktop-global-padding;
			}
		}
	}
}